/* Reset simple */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  background: #050814; /* base dark, à améliorer par vous */
  color: #f5f5f5;
}

/* Layout principal : écran divisé en 2 */
.app {
  display: flex;
  height: 100vh;
}

/* Sidebar gauche – base (vous ferez le style complet) */
.sidebar {
  width: 350px;
  max-width: 100%;
  background: #0a0f1f;
  border-right: 1px solid #222738;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* Conteneur de la carte à droite */
.map-container {
  flex: 1;
}

/* Règle d'or Leaflet : hauteur définie */
#map {
  height: 100%;
  width: 100%;
}

.title{
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 2rem;
}

form{
  display: block;
  background-color: #222739;
  border-radius: 0.7em;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  display: none;
}

form div{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

form label {
  margin-bottom: 0.8rem;
  font-size: 0.9em;
  margin-left: 15%;
}

form select {
  height: 2rem;
  width: 70%;
  margin-left: 15%;
  border: none;
  border-radius: 0.6em;
  font-size: 0.9em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form input{
  height: 2rem;
  width: 70%;
  margin-left: 15%;
  border: none;
  border-radius: 0.6em;
}

form button{
  margin-top: 1.2rem;
  margin-left: 25%;
  width: 50%;
  height: 2rem;
  border: none;
  border-radius: 0.6em;
  background-color: #3b82f6;
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
}

form button:hover{
  background-color: #316bc7;
}

/* Responsive simple : mobile = layout vertical */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: 45vh; /* à ajuster selon votre design */
  }

  .map-container {
    height: 55vh;
  }
}
